@import url(../../common.css);

body {
    background: gray;
    padding-bottom: 30px;
}

#wrapper {
    width: 50%;
    background: white;
    margin: 0 auto;
    position: relative;
}

header {
    background: rgb(11, 13, 133);
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

h1 {
    font-weight: 900;
    padding: 10px 20px;
    color: yellow;
}

strong {
    font-size: 2em;
    color: white;
}

span {
    font-size: 1.3em;
}

em {
    font-size: 1.6em;
    color: white;
}

.container {
    float: left;
    background: white;
    position: relative;
    font-style: 굴림;
}

.container .menu {
    background: lightgray;
    float: left;
    height: 500px;
    padding: 20px 10px;
    line-height: 2;
    font-size: 12px;
}

.container .menu li {
    text-decoration-line: underline;
}

.container .content h2 {
    font-family: 궁서;
    font-size: 1.2em;
    color: yellow;
    padding: 5px 10px;
background: rgb(136, 4, 4);
}

.container .content p {
    font-size: 12px;
    font-family: 굴림;
    padding: 10px;
}

footer {
    background: rgb(179, 173, 173);
    font-size: 12px;
    padding: 10px;
}